# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# OS
.DS_Store
Thumbs.db

# Gulp build output
/dist
/build
/public

# Sass/SCSS cache
.sass-cache/
*.css.map

# Logs
logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.swp

# Temp
tmp/
temp/
