section.education(id="education") 
    .container 
        .education__inner 
            .education__img 
                picture 
                    source(srcset="./img/kai.webp 1x, ./img/kai2x.webp 2x" type="image/webp")
                    source(srcset="./img/kai.png 1x, ./img/kai.png 2x" type="image/png")
                    img.education__picture(src="./img/kai.webp" width="525" height="351" alt="Изображение")

            .education__content 
                h2.education__title Образование
                p.education__text  «Казанский национальный исследовательский технический университет им. А.Н. Туполева-КАИ» г. Казань 2021-2025
                    |  бакалавр: «Электроэнергетика и электротехника»
                    | ВКР на тему «Адаптивный круиз контроль в грузовых авто»
            