header.header 
    .container 
        .header__inner 
            a.logo(href="#") 
                span.icon
                    <svg xmlns="http://www.w3.org/2000/svg" width="71" height="70" viewBox="0 0 71 70" fill="none">
                        <path d="M37.3292 68.2781C55.127 68.2781 69.6583 54.1697 69.6583 36.639C69.6583 19.1086 55.127 5 37.3292 5C19.5315 5 5 19.1086 5 36.639C5 54.1697 19.5315 68.2781 37.3292 68.2781Z" fill="white" stroke="black" stroke-width="1.5625"/>
                        <path d="M33.3292 64.2781C51.127 64.2781 65.6583 50.1697 65.6583 32.639C65.6583 15.1086 51.127 1 33.3292 1C15.5315 1 1 15.1086 1 32.639C1 50.1697 15.5315 64.2781 33.3292 64.2781Z" fill="#FFDD55" stroke="black" stroke-width="1.5625"/>
                        <path d="M13.4608 50L28.2928 16.4H37.6528L52.5328 50H42.6448L31.0288 21.056H34.7728L23.1568 50H13.4608ZM21.5728 43.472L24.0208 36.464H40.4368L42.8848 43.472H21.5728Z" fill="#18191F"/>
                    </svg>
            
            button.menu-toggle(type="button")
                span


            nav.menu 
                ul.menu__list 
                    li.menu__item
                        a.menu__link(href="#education" data-translate="menu1") Образование

                    li.menu__item
                        a.menu__link(href="#work" data-translate="menu2") Опыт работы 


                    li.menu__item
                        a.menu__link(href="#contacts" data-translate="menu3") Контакты 

            button.translate.btn ru

            
