section.top 
    .container 
        .top__inner 
            .top__texts 
                h1.top__title Галиуллин Камиль Ниязович
                .top__details 
                    .top__location 
                        span.icon 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20" fill="#000000"><path fill="#000000" d="M10 20S3 10.87 3 7a7 7 0 1 1 14 0c0 3.87-7 13-7 13zm0-11a2 2 0 1 0 0-4a2 2 0 0 0 0 4z"/></svg>
                        p.top__location-text Казань

                    .top__age 
                        span.icon
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000000"><path fill="#000000" d="M21 17.75A3.25 3.25 0 0 1 17.75 21H6.25A3.25 3.25 0 0 1 3 17.75V6.25A3.25 3.25 0 0 1 6.25 3h11.5A3.25 3.25 0 0 1 21 6.25v11.5Zm-4-10a.75.75 0 0 0-.648-.743L16.25 7h-8.5l-.102.007a.75.75 0 0 0 0 1.486l.102.007h8.5l.102-.007A.75.75 0 0 0 17 7.75Zm0 8.5a.75.75 0 0 0-.648-.743l-.102-.007h-8.5l-.102.007a.75.75 0 0 0 0 1.486L7.75 17h8.5l.102-.007A.75.75 0 0 0 17 16.25ZM17 12a.75.75 0 0 0-.648-.743l-.102-.007h-8.5l-.102.007a.75.75 0 0 0 0 1.486l.102.007h8.5l.102-.007A.75.75 0 0 0 17 12Z"/></svg>
                        p.top__age-text Возраст: 22 года
                a.top__btn.btn(href="/files/document.pdf" download) Скачать

            .top__img
                picture 
                    source(srcset="./img/ava.webp 1x, ./img/ava2x.webp 2x" type="image/webp")
                    source(srcset="./img/ava.png 1x, ./img/ava2x.png 2x" type="image/png")
                    img.top__picture(src="./img/ava.webp" width="400" height="533" alt="Изображение")