section.work(id="work") 
    .container 
        .work__inner 
            h2.work__title Опыт работы
            .work__items 
                .work-item
                    span.work__number 1
                    h3.work-item__title «ИКЕА ДОМ» 06.2019-08.2022
                    h3.work-item__subtitle Продавец консультант 
                    p.work-item__text Консультирование покупателей в отделе сопутствующих товаров и света. 
                        | Оформление заказ-наряда.
                        | Работа во внутреннем документ обороте на базе Excel.

                .work-item 
                    span.work__number 2
                    h3.work-item__title «ИРО РТ» 11.2022–08.2025
                    h3.work-item__subtitle Оператор котельной  
                    p.work-item__text Обеспечение бесперебойной работы котлов течения отопительного сезона

                .work-item 
                    span.work__number 3
                    h3.work-item__title.work-bottom Hard skills:
                    p.work-item__text.work-bottom__text английский (А2)
                    p.work-item__text.work-bottom__text Excel (сводные таблицы)
