section.work(id="work") 
    .container 
        .work__inner 
            h2.work__title(data-translate="work") Опыт работы
            .work__items 
                .work-item
                    span.work__number 1
                    h3.work-item__title(data-translate="ikea") «ИКЕА ДОМ» 06.2019-08.2022
                    h3.work-item__subtitle(data-translate="worker1") Продавец консультант 
                    p.work-item__text(data-translate="workDesk1") Консультирование покупателей в отделе сопутствующих товаров и света. 
                        | Оформление заказ-наряда.
                        | Работа во внутреннем документ обороте на базе Excel.

                .work-item 
                    span.work__number 2
                    h3.work-item__title(data-translate="iro") «ИРО РТ» 11.2022–08.2025
                    h3.work-item__subtitle(data-translate="worker2") Оператор котельной  
                    p.work-item__text(data-translate="workDesk2") Обеспечение бесперебойной работы котлов течения отопительного сезона

                .work-item 
                    span.work__number 3
                    h3.work-item__title.work-bottom Hard skills:
                    p.work-item__text.work-bottom__text(data-translate="skill1") английский (А2)
                    p.work-item__text.work-bottom__text(data-translate="skill2") Excel (сводные таблицы)
