.top{
    // padding: 189px 0 180px;
    padding: 85px 0;

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__texts{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
    }

    &__title{
        font-size: 64px;
        font-weight: 800;
    }

    &__details{
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__location,
    &__age{
        display: flex;
        align-items: center;
        gap: 5px;

        span svg{
            fill: #474A57;
        }
    }

    &__location-text,
    &__age-text{
        font-size: 25px;
        font-weight: 600;
        color: #474A57;
    }

    &__btn{
        padding: 12px 21px;
        min-height: 63px;
        border-radius: 16px;
        background-color: var(--text-color);
        color: var(--white-color);
        font-size: 32px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        box-shadow: 6px 6px 0px #009c88;
    }

    &__img{
        max-width: 400px;
        height: auto;
        overflow: hidden;
        border-radius: 20px;
    }

    &__picture{
        width: 100%;
        height: 100%;
    }
}
